.footer{

    background: #111;

    color: #fff;

    padding: 15px 30px 5px;

    font-size: 14px;
}

/* =========================
   CONTAINER
========================= */

.footer-container{
    width: 100%;

    max-width: 1200px;

    margin: auto;

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    gap: 20px;

    flex-wrap: wrap;
}

/* =========================
   COLUMN
========================= */

.footer-col{
    flex: 1 1 220px;

    text-align: left;
}

/* =========================
   TITLE
========================= */
.footer-title{
    font-size: 16px;

    font-weight: 700;

    margin-bottom: 20px;

    color: #00b36b;

    text-transform: uppercase;

    letter-spacing: 1px;

    text-align: left;

    white-space: nowrap;
}

/* =========================
   TEXT
========================= */

.footer-desc{
    color: #ccc;

    line-height: 1.8;

    margin-bottom: 20px;

    font-size: 18px;

    text-align: left;
}

.footer-col p{
    margin-bottom: 12px;

    color: #ccc;

    font-size: 15px;

    text-align: left;
}

/* =========================
   LIST
========================= */

.footer-col ul{
    list-style: none;

    padding: 0;

    margin: 0;

    text-align: left;
}

.footer-col ul li{
    margin-bottom: 14px;

    text-align: left;
}

.footer-col ul li a{
    font-size: 15px;
}

/* =========================
   LINK
========================= */

.footer a{
    color: #ccc;

    text-decoration: none;

    transition: 0.3s;
}

.footer a:hover{
    color: #00b36b;
}

/* =========================
   FORM
========================= */

.footer-form{
    display: flex;

    justify-content: flex-start;

    margin-top: 15px;

    margin-bottom: 20px;
}

.footer-form input{
    flex: 1;

    height: 42px;

    border: none;

    outline: none;

    padding: 0 15px;

    border-radius: 8px 0 0 8px;

    font-size: 14px;
}

.footer-form button{
    border: none;

    background: #00b36b;

    color: white;

    padding: 0 18px;

    font-weight: 600;

    border-radius: 0 8px 8px 0;

    cursor: pointer;

    transition: 0.3s;

    font-size: 14px;
}

.footer-form button:hover{
    background: #008f56;
}

/* =========================
   SOCIAL
========================= */

.footer-social{
    display: flex;

    justify-content: flex-start;

    gap: 12px;
}

.footer-social a{
    width: 38px;

    height: 38px;

    border-radius: 50%;

    background: #222;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 16px;

    transition: 0.3s;
}

.footer-social a:hover{
    background: #00b36b;

    color: white;
}

/* =========================
   COPYRIGHT
========================= */

.footer-bottom{
    border-top: 1px solid #333;

    margin-top: 40px;

    padding-top: 18px;

    text-align: center;

    color: #aaa;

    font-size: 13px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width: 768px){

    .footer{
        padding: 40px 20px 20px;
    }

    .footer-container{
        flex-direction: column;
    }

    .footer-title{
        font-size: 24px;
    }

}