/* TIÊU ĐỀ & BREADCRUMB */

/* TIÊU ĐỀ TRANG */

.store-title {
  font-family: "Montserrat", sans-serif;

  font-size: 40px;

  font-weight: 800;

  letter-spacing: 0.5px;

  color: #000;

  margin-bottom: 5px;
}

/* BREADCRUMB */

.breadcrumb-text {
  font-family: "Montserrat", sans-serif;

  color: #666;

  font-size: 16px;

  margin-bottom: 30px;
}

/* KHUNG FORM */

.store-box {
  background: #fff;

  padding: 20px;

  border-radius: 12px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* TITLE */

.filter-title {
  font-weight: 600;

  font-size: 20px;
}

/* SELECT */

.form-control {
  height: 45px;

  border-radius: 8px;

  margin-top: 5px;
}

/* LINK MAP */

.map-link {
  color: #1ca34a;

  font-weight: 600;

  text-decoration: none;
}

.map-link:hover {
  text-decoration: underline;
}

/* KHOẢNG TRẮNG */

.page-bottom-space {
  height: 140px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .store-title {
    font-size: 28px;
  }

  .breadcrumb-text {
    font-size: 14px;
  }

  iframe {
    margin-top: 20px;
  }
}
